<div class="about">
    <h1>ABOUT EXETER</h1>
</div>

<div class="box">
    <div class="box1">
        <b> What is important to know: </b>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque eveniet omnis incidunt consequatur
            quisquam fugiat velit cupiditate qui possimus? Quae aliquid nesciunt et consequatur commodi numquam sed
            reprehenderit minima illo.</p>

    </div>
    <div class="box1">
        <b>What is interesting to know: </b>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse omnis optio quas! Expedita minima, dolor ex
            placeat animi, sit atque rerum corrupti nulla, recusandae perferendis velit omnis. Quidem, exercitationem
            ipsa.</p>
    </div>
</div>

<div class="box">
    <div class="box1">
        <b> What to do over there: </b>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, suscipit. Eos praesentium officiis illo
            illum ut vero ipsum enim libero, molestias recusandae aperiam tempora, hic, culpa quis magnam ipsa odit.</p>
    </div>
    <div class="box1">
        <b>Exeter and it's environment: </b>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione unde, tempore soluta officia magnam facilis
            cupiditate quis culpa amet excepturi omnis illo tenetur, error ea assumenda. Rem doloremque repellat
            doloribus.</p>
    </div>
</div>