<div class="gallery">
    <h1>MY PHOTO GALLERY</h1>
</div>

<div class="photos">
    <img src="./img/exeter1.jpg" alt="exeter uni" class="photo1">
    <img src="./img/exeter2.jpg" alt="exeter uni" class="photo3">
    <img src="./img/exeter3.jpg" alt="exeter uni" class="photo3">
</div>

<div class="photos">
    <img src="./img/exeter4.jpg" alt="exeter uni" class="photo2">
    <img src="./img/exeter5.jpg" alt="exeter uni" class="photo5">
    <img src="./img/exeter6.jpg" alt="exeter uni" class="photo6">
</div>