<div class="home">
    <img src="./img/exeter.jpeg" alt="exeter uni" class="imgExe">
</div>

<div class="facts">
    <p class="intro">Facts about Exeter University:
        <ul>
            <li> The University of Exeter combines world class research with excellent student satisfaction at its
                campuses in
                Exeter and Cornwall. It is a member of the Russell Group of leading research-intensive universities.
                Formed
                in 1955, the University has 22,085 students from more than 130 different countries. Its success is built
                on
                a strong partnership with its students and a clear focus on high performance.</li>
            <li>The modern name of Exeter is a development of the Old English Escanceaster,[4] from the anglicised form
                of the river now known as the Exe and the Old English suffix -ceaster, used to mark important fortresses
                or fortified towns. </li>
            <li>Exeter in a beautiful city </li>
        </ul>
    </p>
    </p>
</div>